body {
    margin: auto;
    background: #EDEEF0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
}

a {
    line-height: 1.3em;
    text-decoration-line: none;
    color: #285473;
}

.checkbox {
    margin-bottom: 10px;
}

.checkbox:hover label, input[type="checkbox"] {
    cursor: pointer;
}

.header {
    height: 42px;
    margin-bottom: 15px;
    background-color: #4a76a8;
}

.list {
    position: relative;
    margin: 0;
    padding: 6px 0;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0 1px 0 0 #D7D8DB, 0 0 0 1px #E3E4E8;
    list-style: none;
}

.list > li {
    padding: 5px 0px 5px 5px;
    border-left: 2px solid #FFF;
    cursor: pointer;
}

.list > li:first-child {
    border-left: 2px solid #5181B8;
    background-color: #F0F2F5;
}

.list > li:first-child a{
    color: #000;
    font-weight: bold;
}

.list > li:not(:first-child):hover {
    background-color: #F0F2F5;
    border-left: 2px solid #F0F2F5;
    text-decoration: none;
}

.settings-page {
    display: flex;
    min-width: min-content;
    justify-content: center;
}

.settings {
    min-width: 560px;
    border-radius: 8px;
    background: #FFF;
}

.settings-header {
    height: 54px;
    padding: 0 20px;
    border-bottom: 1px solid #E7E8EC;
    border-radius: 4px 4px 0 0;
    line-height: 54px;
    background: #FAFBFC;
    font-size: 20px;
}

.settings-line {
    display: flex;
    padding: 15px 20px;
    border-bottom: 1px solid #E7E8EC;
}

.settings-line > :first-child {
    min-width: 155px;
}

.settings-line > a:last-child {
    margin-left: auto;
}

.settings-delete-profile {
    margin: auto;
    background: #FAFBFC;
}
 
.sub-options {
    margin-left: 10px;
    width: 230px;
}

.user-menu {
    margin-right: 10px;
    width: 150px;
}

.user-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-list > li {
    padding: 5px 10px;
    color: #285473;
}

.user-list > li:hover {
    background-color: #DBE0E8;
}