form#initial{
    background-color: #0690CF;
    border: 5px solid #0487C6;
    width: 350px;
    color: white;
}

form > div{
    margin : 5px;
}

div.password{
    width: 40%;
    display: inline-block;
}

input#e-mail{
    width : 87%;
}

input.passClass{
    width: 100%;
}

button.btnColor{
    background-color: #F7DB40;
    margin: 10px 0px;
}

h3{
    margin-bottom: 0px;
}

label{
    display: block;
}