nav#menu {
    width: 200px;
}

nav#menu > ul {
    margin: 0px;
    padding: 0px;
    background-color: #F0DE8F;
    border: 1px outset;
    border-radius: 10px;
    box-shadow: 4px 4px 3px 0px #A52A2A;
    list-style: none;
}

nav#menu > ul > li {
    margin: 5px;
    padding: 2px 0px 3px 5px;
    color: #A52A2A;
    font-weight: 550;
}