div#menu{
    width: 200px;
}

ul{
    background-color: #f0de8f;
    border: 1px outset;
    border-radius: 10px;
    box-shadow: 4px 4px 3px 0px brown;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li{
    color: brown;
    font-weight: 550;
    letter-spacing: -0.14ch;
    margin: 5px;
    padding: 2px 0px 3px 5px;
}