<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <!--<add key="StorageMode" value="File"/>-->
    <add key="StorageMode" value="DataBase"/>
    <add key="Users" value="Users.json"/>
    <add key="Awards" value="Awards.json"/>
    <add key="AwardUser" value="AwardUser.json"/>
  </appSettings>

  <connectionStrings>
    <add name="DB"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EPAM.Task11.DB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>