@{
    Page.Title = "Main Page";
}

<div class="text-center m-5">
    <h2>Welcome to social network on the gaming theme. Find people on your gaming interests.</h2>
</div>

<div class="text-success">
    TODO: Make quick search
</div>