body {
    background: #4E6379;
    font: 12px Tahoma, sans-serif;
}

.general-block {
    margin: auto;
    width: 602px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 25px 40px #000000AB;
    background: #FFF;
}

.block {
    float: left;
    margin: 10px 0;
    width: 200px;
    border-left: 1px solid #808080;
    text-align: center;
}

.block:first-child {
    border: none;
}

.icon {
    margin: auto;
    width: 45px; 
    height: 41px;
    background: url(images.png) no-repeat;
}

.cloud {
    background-position: 0 -42px;
}

.server {
    background-position: 0 -84px;
}

h3 {
    color: #FF7F50;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    background: #FF7F50;
    text-decoration: none;
    color: #FFF;
}

.button:hover {
    cursor: pointer;
}