body {
    background: #333;
}

.pointer {
    position: relative;
    z-index: 1;
    height: 50px;
    width: 50px;
    margin: auto;
    margin-top: 30px;
    transform: rotate(-45deg);
    border-right: 5px solid #C2E1F5;
    border-top: 5px solid #C2E1F5;
    background-color: #88B7D5;
}

.block {
    position: relative;
    margin: -28px 7px;
    padding: 49px;
    border: 5px solid #C2E1F5;
    text-align: center;
    background-color: #88B7D5;
    color: white;
    font-size: 1.5em;
}