.title {
    margin: auto;
    height: 50px;
    padding-left: 10px;
    line-height: 45px;
    text-align: left;
    background-color: #008B66;
    color: #FFF;
}

.content {
    position: relative;
    margin: -10px 0 0 20px;
    padding: 10px;
    text-align: justify;
    background-color: #DFE6E1;
}