@{
    Layout = "_Layout.cshtml";
    Page.Title = "Add Award";

    string errorMsg = Request.Headers["ErrorMsg"];
    string returnUrl = Request?.UrlReferrer?.AbsolutePath;

    if (returnUrl == "/Pages/AddAward" || returnUrl == null)
    {
        returnUrl = "/Pages/Index";
    }

    if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("/Pages/SignIn");
    }
    else if (!User.IsInRole("Admin"))
    {
        Response.Redirect("/Pages/Index");
    }
}

<h3 class="p-2 bg-primary text-white text-center">Add Award</h3>

@if (errorMsg != null)
{
    <div class="alert-danger">
        @errorMsg
    </div>
}

<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="returnUrl" value="@returnUrl" />
    <div class="form-group">
        <label for="title">Title:</label>
        <input class="form-control" id="title" type="text" name="Title" required />
    </div>
    <div class="form-group">
        <label>Image</label>
        <div class="custom-file">
            <label id="fileName" class="custom-file-label" for="customFile">Choose image file</label>
            <input id="customFile" type="file" accept="image/*" class="custom-file-input" name="Image">
        </div>
    </div>
    <div class="img-fluid text-center m-2">
        <img id="avatar" style="width:150px;height:150px" class="imgView rounded mx-auto d-block"
             src="~/Content/Images/noimage.png" alt="image" />
    </div>
    <div class="form-group text-center">
        <button id="add" class="btn btn-primary" type="submit">Create</button>
        <a class="btn btn-secondary" href="@returnUrl">Cancel</a>
    </div>
</form>

<script src="~/Scripts/onChangeFileUpload.js"></script>