@{
    Layout = "/Pages/_Layout.cshtml";
    Page.Title = "Add User";

    string msg = null;

    if (Request.QueryString["ErrorMsg"] != null)
    {
        msg = Request.QueryString["ErrorMsg"];
    }
}

<h3 class="p-2 bg-primary text-white text-center">Add User</h3>
@if (msg != null)
{
    <div class="alert-danger">
        @msg
    </div>
}
<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="returnUrl"
           value="@(Request?.UrlReferrer?.AbsolutePath ?? "/Pages/Index")" />
    <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control" id="name" type="text" name="Name" />
    </div>
    <div class="form-group">
        <label for="DateOfBirth">Date Of Birth:</label>
        <input class="form-control" id="DateOfBirth" type="date" name="DateOfBirth" />
    </div>
    <div class="form-group">
        <label>Image</label>
        <div class="custom-file">
            <label id="fileName" class="custom-file-label" for="customFile">Choose image file</label>
            <input id="customFile" type="file" accept="image/*" class="custom-file-input" name="Image">
        </div>
    </div>
    <div class="img-fluid text-center m-2">
        <img id="avatar" style="width:150px;height:150px" class="imgView rounded mx-auto d-block"
             src="~/Content/Images/noimage.png" alt="image" />
    </div>
    <div class="form-group text-center">
        <button id="add" class="btn btn-primary" type="submit">Add</button>
        <a class="btn btn-secondary" href="@(Request?.UrlReferrer?.AbsolutePath ?? "/Pages/")">Cancel</a>
    </div>
</form>

<script src="~/Scripts/onChangeFileUpload.js"></script>