@using model = Task_10_ASP.Net_Web_Pages.Models;
@{
    Layout = "/Pages/_Layout.cshtml";
    Page.Title = "Add User";

    string errorMsg = Response.Headers["ErrorMsg"];
    string returnUrl = Request?.UrlReferrer?.AbsolutePath;

    if (returnUrl == "/Pages/AddUser" || returnUrl == null)
    {
        returnUrl = "/Pages/Index";
    }

    if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("/Pages/SignIn");
    }
    else if (!User.IsInRole("Admin"))
    {
        Response.Redirect("/Pages/Index");
    }
}

<h3 class="p-2 bg-primary text-white text-center">Add User</h3>
@if (errorMsg != null)
{
    <div class="alert-danger">
        @errorMsg
    </div>
}
<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="returnUrl" value="@returnUrl" />
    <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control" id="name" type="text" name="Name" required />
    </div>
    <div class="form-group">
        <label for="DateOfBirth">Date Of Birth:</label>
        <input class="form-control" id="DateOfBirth" type="date" name="DateOfBirth" required />
    </div>
    @*  TODO: Перенести на будущую страницу редактирования зарегистрированных пользователей.
        <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelectRole">Role</label>
        </div>
        <select name="Role" class="custom-select" id="inputGroupSelectRole">
            <option value="@((int)model.Roles.User)">User</option>
            <option value="@((int)model.Roles.Admin)">Admin</option>
        </select>
    </div>*@
    <div class="form-group">
        <label>Image</label>
        <div class="custom-file">
            <label id="fileName" class="custom-file-label" for="customFile">Choose image file</label>
            <input id="customFile" type="file" accept="image/*" class="custom-file-input" name="Image">
        </div>
    </div>
    <div class="img-fluid text-center m-2">
        <img id="avatar" style="width:150px;height:150px" class="imgView rounded mx-auto d-block"
             src="~/Content/Images/noimage.png" alt="image" />
    </div>
    <div class="form-group text-center">
        <button id="add" class="btn btn-primary" type="submit">Add</button>
        <a class="btn btn-secondary" href="@returnUrl">Cancel</a>
    </div>
</form>

<script src="~/Scripts/onChangeFileUpload.js"></script>