@{
    Layout = "_Layout.cshtml";
    Page.Title = "Main Page";

    string roleMsg = null;
    bool isAdmin = false;
}

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        isAdmin = true;
        roleMsg = "Admin";
    }
    else if (User.IsInRole("User"))
    {
        roleMsg = "User";
    }
    else
    {
        roleMsg = "<role not assigned>";
    }

    <h3 class="p-2 bg-primary text-white text-center">
        Welcome "<strong>@(User.Identity.Name)</strong>". 
        Your role is "<strong>@roleMsg</strong>". Please select some action:
    </h3>
}
else
{
    roleMsg = "Guest";
    <h3 class="p-2 bg-primary text-white text-center">
        Welcome <strong>Guest</strong>. Please select some action:
    </h3>
}

<div class="list-group">

    <a href="~/Pages/ShowUsers"
       class="list-group-item list-group-item-action">
        Show Users
    </a>
    @if (isAdmin)
    {
        <a href="~/Pages/ShowAwards"
           class="list-group-item list-group-item-action">
            Show Awards
        </a>
        <a href="~/Pages/ShowAccounts"
           class="list-group-item list-group-item-action">
            Show Accounts
        </a>
    }
</div>