@{
    Layout = "_Layout.cshtml";
    Page.Title = "Main Page";

    string role = null;
}

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        role = "Admin";
    }
    else if (User.IsInRole("User"))
    {
        role = "User";
    }
}
else
{
    role = "Guest";
}

<h3 class="p-2 bg-primary text-white text-center">Welcome @(role). Please select some action:</h3>

<div class="list-group">

    <a href="~/Pages/ShowUsers"
       class="list-group-item list-group-item-action">
        Show Users
    </a>
    @if (User.IsInRole("Admin"))
    {
        <a href="~/Pages/ShowAwards"
           class="list-group-item list-group-item-action">
            Show Awards
        </a>
        <a href="~/Pages/ShowAccounts"
           class="list-group-item list-group-item-action">
            Show Accounts
        </a>
        <a href="~/Pages/AddAwardToUser"
           class="list-group-item list-group-item-action">
            Add Award to User
        </a>
        <a href="~/Pages/RemoveAwardToUser"
           class="list-group-item list-group-item-action">
            Remove Award to User
        </a>
    }
</div>