<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Page.Title</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="sticky-top">
        @RenderPage("_NavMenu.cshtml")
    </div>
    @RenderBody()
</body>
</html>
