body {
    background-color: #000;
}

.container {
    margin: auto;
    width: 430px;
}

.content {
    padding: 45px 20px 16px 16px;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(to top, #D3D3D3, #FFF);
    text-align: justify;
}

.head {
    float: left;
    position: relative;
    left: -13px;
    top: -1px;
    transform: skew(-30deg);
    padding: 0px 17px 3px 28px;
    background: #000;
    font-size: 30px;
    font-weight: bolder;
    color: #FFA500;
}

#title {
    transform: skew(30deg);
    margin: auto;
}