@using Task_10_ASP.Net_Web_Pages.Models

@{
    Layout = "_Layout.cshtml";
    Page.Title = "Add Award to User";
}

<h3>Add Award to User</h3>

<div>
    <form action="/Processing" method="post">

        <select name="User">
            <option selected disabled>Choose User</option>
            @foreach (var user in ProgramManager.GetUsers())
            {
                <option value="@user.Id">
                    @user.Name
                </option>
            }
        </select>

        <select name="Award">
            <option selected disabled>Choose Award</option>
            @foreach (var award in ProgramManager.GetAwards())
            {
                <option value="@award.Id">
                    @award.Title
                </option>
            }
        </select>
        <button type="submit">Add</button>
    </form>
</div>
<div>
    <a href="/">Cancel</a>
</div>