@{
    Layout = "_Layout.cshtml";
    Page.Title = "Add Award";
}

<h3>Add Award</h3>

<form action="/Processing" method="post">
    <label for="title">Title</label>
    <input id="title" type="text" name="Title" required />
    <button type="submit">Add</button>
</form>
<a href="/">Cancel</a>