USE [master]
GO
/****** Object:  Database [EPAM.Task11.DB]    Script Date: 20.09.2019 7:06:24 ******/
CREATE DATABASE [EPAM.Task11.DB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EPAM.Task11.DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EPAM.Task11.DB]
GO
USE [EPAM.Task11.DB]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 20.09.2019 7:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [int] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Awards]    Script Date: 20.09.2019 7:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Award] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AwardUser]    Script Date: 20.09.2019 7:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AwardUser](
	[UserId] [int] NOT NULL,
	[AwardId] [int] NOT NULL,
 CONSTRAINT [PK_AwardUser] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[AwardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20.09.2019 7:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Age] [int] NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AwardUser]  WITH CHECK ADD  CONSTRAINT [FK_AwardUser_Award] FOREIGN KEY([AwardId])
REFERENCES [dbo].[Awards] ([Id])
GO
ALTER TABLE [dbo].[AwardUser] CHECK CONSTRAINT [FK_AwardUser_Award]
GO
ALTER TABLE [dbo].[AwardUser]  WITH CHECK ADD  CONSTRAINT [FK_AwardUser_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AwardUser] CHECK CONSTRAINT [FK_AwardUser_User]
GO
/****** Object:  StoredProcedure [dbo].[AddAccount]    Script Date: 20.09.2019 7:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddAccount]
	-- Add the parameters for the stored procedure here
	@Login NVARCHAR(MAX),
	@Password NVARCHAR(MAX),
	@Role INT
AS
BEGIN
	INSERT INTO Accounts([Login], [Password], [Role])
	VALUES (@Login, @Password, @Role)
END
GO
/****** Object:  StoredProcedure [dbo].[AddAward]    Script Date: 20.09.2019 7:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[AddAward]
	-- Add the parameters for the stored procedure here
	@Title NVARCHAR(MAX),
	@Image VARBINARY(MAX)
AS
BEGIN
	INSERT INTO Awards([Title], [Image])
	VALUES (@Title, @Image)
END
GO
/****** Object:  StoredProcedure [dbo].[AddAwardUser]    Script Date: 20.09.2019 7:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddAwardUser]
	-- Add the parameters for the stored procedure here
	@AwardId INT,
	@UserId INT
AS
BEGIN
	INSERT INTO AwardUser([AwardId], [UserId])
	VALUES (@AwardId, @UserId)
END
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 20.09.2019 7:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddUser]
	-- Add the parameters for the stored procedure here
	@Name NVARCHAR(60),
	@DateOfBirth DATE,
	@Age INT,
	@Image VARBINARY(MAX)
AS
BEGIN
	INSERT INTO Users([Name], [DateOfBirth], [Age], [Image])
	VALUES (@Name, @DateOfBirth, @Age, @Image)
END
GO
USE [master]
GO
