USE [master]
GO
/****** Object:  Database [EPAM.Task11.DB]    Script Date: 23.09.2019 19:28:34 ******/
CREATE DATABASE [EPAM.Task11.DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EPAM.Task11.DB', FILENAME = N'EPAM.Task11.DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EPAM.Task11.DB_log', FILENAME = N'EPAM.Task11.DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EPAM.Task11.DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EPAM.Task11.DB]
GO
USE [EPAM.Task11.DB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[RoleId] [int] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Award] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AwardUser](
	[UserId] [int] NOT NULL,
	[AwardId] [int] NOT NULL,
 CONSTRAINT [PK_AwardUser] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[AwardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Age] [int] NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Roles]
GO
ALTER TABLE [dbo].[AwardUser]  WITH CHECK ADD  CONSTRAINT [FK_AwardUser_Award] FOREIGN KEY([AwardId])
REFERENCES [dbo].[Awards] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AwardUser] CHECK CONSTRAINT [FK_AwardUser_Award]
GO
ALTER TABLE [dbo].[AwardUser]  WITH CHECK ADD  CONSTRAINT [FK_AwardUser_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AwardUser] CHECK CONSTRAINT [FK_AwardUser_User]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddAccount]
	@Login NVARCHAR(MAX),
	@PasswordHash NVARCHAR(MAX),
	@RoleId INT
AS
BEGIN
	INSERT INTO Accounts([Login], [PasswordHash], [RoleId])
	VALUES (@Login, @PasswordHash, @RoleId)
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[AddAward]
	@Title NVARCHAR(MAX),
	@Image VARBINARY(MAX)
AS
BEGIN
	INSERT INTO Awards([Title], [Image])
	VALUES (@Title, @Image)
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddAwardUser]
	@AwardId INT,
	@UserId INT
AS
BEGIN
	INSERT INTO AwardUser([AwardId], [UserId])
	VALUES (@AwardId, @UserId)
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddRole]
	@Name NVARCHAR(MAX)
AS
BEGIN
	INSERT INTO Roles([Name])
	VALUES (@Name)
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddUser]
	@Name NVARCHAR(60),
	@DateOfBirth DATE,
	@Age INT,
	@Image VARBINARY(MAX)
AS
BEGIN
	INSERT INTO Users([Name], [DateOfBirth], [Age], [Image])
	VALUES (@Name, @DateOfBirth, @Age, @Image)
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteAccount]
	@Id INT
AS
BEGIN
	DELETE FROM Accounts WHERE Id = @Id
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteAward]
	@id INT
AS
BEGIN
	DELETE FROM Awards WHERE Id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteAwardUser]    Script Date: 23.09.2019 19:28:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteAwardUser]
	@awardId INT,
	@userId INT
AS
BEGIN
	DELETE FROM AwardUser WHERE AwardId = @awardId AND UserId = @userId
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteRole]
	@Id INT
AS
BEGIN
	DELETE FROM [Roles] WHERE Id = @Id
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteUser]
	@id INT
AS
BEGIN
	DELETE FROM Users WHERE Id = @id
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAccountById]
	@Id INT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM Accounts
	WHERE Id = @Id
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAccounts]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM Accounts
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAwardById]
	@id INT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM Awards WHERE ID = @id
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAwards]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM Awards;
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAwardUser]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * From AwardUser
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAwardUserByIds]
	@awardId INT,
	@userId INT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM AwardUser 
	WHERE AwardId = @awardId AND UserId = @userId
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRoleById]
	@Id INT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM [Roles] WHERE ID = @Id
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetRoles]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM [Roles];
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserById]
	@id INT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM Users WHERE ID = @id
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUsers]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM Users
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateAccountById]
	@Id INT,
	@Login NVARCHAR(MAX),
	@PasswordHash NVARCHAR(MAX),
	@RoleId INT
AS
BEGIN 
	
	UPDATE Accounts
	SET
		[Login] = @Login,
		[PasswordHash] = @PasswordHash,
		[RoleId] = @RoleId
	WHERE Id = @id;

END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateAwardById]
	@id INT,
	@title NVARCHAR(MAX),
	@image VARBINARY(MAX)
AS
BEGIN 
	
	UPDATE Awards 
	SET
		[Title] = @title,
		[Image] = @image
	WHERE Id = @id;

END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateRoleById]
	@Id INT,
	@Name NVARCHAR(MAX)
AS
BEGIN 
	
	UPDATE Roles
	SET
		[Name] = @Name
	WHERE Id = @id;

END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUserById]
	@id INT,
	@name NVARCHAR(50),
	@dateOfBirth DATE,
	@age INT,
	@image VARBINARY(MAX)
AS
BEGIN 
	
	UPDATE Users 
	SET
		[Name] = @name,
		[DateOfBirth] = @dateOfBirth,
		[Age] = @age,
		[Image] = @image
	WHERE Id = @id;

END
GO
USE [master]
GO
