@{
    Layout = "_Layout.cshtml";
    Page.Title = "Main Page";
}

<h1>Please select some action:</h1>

<ul>
    <li>
        <a href="/AddAward">Add Award</a>
    </li>
    <li>
        <a href="/AddUser">Add User</a>
    </li>
    <li>
        <a href="/AddAwardToUser">Add Award to User</a>
    </li>
    <li>
        <a href="/RemoveAward">Remove Award</a>
    </li>
    <li>
        <a href="/RemoveUser">Remove User</a>
    </li>
    <li>
        <a href="/RemoveAwardToUser">Remove Award to User</a>
    </li>
    <li>
        <a href="/ShowAwards">Show Awards</a>
    </li>
    <li>
        <a href="/ShowUsers">Show Users</a>
    </li>
</ul>