@using Task_10_ASP.Net_Web_Pages.Models

@{
    Layout = "_Layout.cshtml";
    Page.Title = "Remove User";
}

<h3>Remove User</h3>

<div>
    <form action="/Processing" method="post">
        <select name="User">
            <option selected disabled>Choose User</option>
            @foreach (var user in ProgramManager.GetUsers())
            {
                <option value="@user.Id">
                    @user.Name
                </option>
            }
        </select>
        <button type="submit">Delete</button>
    </form>
</div>
<div>
    <a href="/">Cancel</a>
</div>