@using Task_10_ASP.Net_Web_Pages.Models;
@{
    Layout = "_Layout.cshtml";
    Page.Title = "Show Awards";
}

<div>
    <table style="border: 1px solid" border="1">
        <caption>Awards</caption>
        <tr>
            <td>Id</td>
            <td>Title</td>
        </tr>

        <tbody>
            @foreach (var award in ProgramManager.GetAwards())
            {
                <tr>
                    <td>@award.Id</td>
                    <td>@award.Title</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a href="/">Cancel</a>
</div>